
.player-names {
    font-weight: bold
}
.player-scores{
    background-color:#BF1363;
    color: white
}

.buttons{
    display:flex; 
    justify-content: center;
}
button{
    width: 200px; 
    background-color: #BF1363 !important; 
    color: white!important; 
}

table .player-names tr th{
    padding-top: 50px!important; 
}

table tbody tr td input{
    width:100px !important; 
}

